{% load static %}

<div class="sidebar" id="sidebar">
    <h2>📘 LogBook</h2>

    <a href="{% url 'dashboard:dashboard' %}"><i class="fas fa-home"></i><span> Dashboard</span></a>
    <a href="{% url 'users:sign_up' %}"><i class="fas fa-globe-africa"></i><span> Staffs</span></a>
    <a href="{% url 'locations:country-list' %}"><i class="fas fa-globe-africa"></i><span> Countries</span></a>
    <a href="{% url 'clinical:disease-list' %}"><i class="fas fa-virus"></i><span> Diseases</span></a>
    <a href="{% url 'mentorship:visit-list' %}"><i class="fas fa-calendar-alt"></i><span> Visits</span></a>
    <a href="{% url 'reports:index' %}"><i class="fas fa-chart-line"></i><span> Reports</span></a>
    
    <!-- Link to view all uploaded user manuals -->
    <a href="{% url 'documents:usermanual-list' %}"><i class="fas fa-book"></i><span> User Manuals</span></a>

    {% if user.is_authenticated %}
        <a href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i><span> Logout</span></a>
    {% else %}
        <a href="{% url 'users:login' %}"><i class="fas fa-sign-in-alt"></i><span> Login</span></a>
    {% endif %}
</div>
