<div class="list-group">

    <a href="{% url 'dashboard:dashboard' %}" class="list-group-item list-group-item-action">
        Dashboard
    </a>
    {% if request.user.is_superuser %}

    <a href="{% url 'dashboard:monitor_dashboard_view' %}" class="list-group-item list-group-item-action">
        Monitor
    </a>
    {% endif %}

    <a href="{% url 'herbal:subjects-list' %}" class="list-group-item list-group-item-action">
        Subjects
    </a>
    {% if request.user.is_superuser %}

    <a href="#" class="list-group-item list-group-item-action">
        Screening
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        Enrollments
    </a>

    <a href="{% url 'herbal:visit-dashboard' %}" class="list-group-item list-group-item-action">
        Visits
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        Reports
    </a>
    {% endif %}

    {% if request.user.is_superuser %}
    <hr>

    <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action list-group-item-warning">
        Admin Panel
    </a>
    {% endif %}

</div>