<div class="list-group">

    <a href="{% url 'dashboard:dashboard' %}" class="list-group-item list-group-item-action">
        Dashboard
    </a>
    <a href="{% url 'dashboard:monitoring' %}" class="list-group-item list-group-item-action">
        Monitoring
    </a>
    {% if request.user.is_superuser %}

    <a href="{% url 'dashboard:monitor_dashboard_view' %}" class="list-group-item list-group-item-action">
        Monitor
    </a>
    {% endif %}

    <a href="{% url 'herbal:subjects-list' %}" class="list-group-item list-group-item-action">
        Subjects
    </a>
    {% if request.user.is_superuser %}

    <a href="#" class="list-group-item list-group-item-action">
        Screening
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        Enrollments
    </a>

    <a href="{% url 'herbal:visit-dashboard' %}" class="list-group-item list-group-item-action">
        Visits
    </a>

    <a href="{% url 'dashboard:visit-dashboard' %}" class="list-group-item list-group-item-action">
        Visits dashboard
    </a>

    <a href="{% url 'herbal:registry-crfs' %}" class="list-group-item list-group-item-action">
        CRFS
    </a>

    <a href="{% url 'herbal:registry-visits' %}" class="list-group-item list-group-item-action">
        VISITS
    </a>
    <a href="{% url 'herbal:summary-visits' %}" class="list-group-item list-group-item-action">
        VISITS Summary
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Reports
    </a>

    <h2>Export Nimregenin Study Data</h2>
    <p>Click the button below to export all data to Excel. The file will download automatically.</p>
    <form method="get" action="{% url 'export_models' %}">
        <button type="submit" class="btn btn-primary">Export Data</button>
    </form>
    {% endif %}

    {% if request.user.is_superuser %}
    <hr>

    <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action list-group-item-warning">
        Admin Panel
    </a>
    {% endif %}

</div>