<!-- accounts/templates/accounts/login.html -->

{% load static %}

<!DOCTYPE html>

<html>

<head>

    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

    <div class="container">

        <div class="row justify-content-center mt-5">

            <div class="col-md-4">

                <div class="card">

                    <div class="card-body">

                        <h4 class="text-center mb-3">
                            Herbal Trial Login
                        </h4>

                        {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        {% endif %}

                        <form method="post">

                            {% csrf_token %}

                            <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>

                            <input type="password" name="password" class="form-control mb-3" placeholder="Password"
                                required>

                            <button class="btn btn-primary w-100">

                                Login

                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

</html>