{% extends "base.html" %}
{% load querystring %}

{% block content %}


<h3>Mark Visit Missed</h3>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>Reason</label>
        <select name="reason" class="form-control" required>
            <option value="">Select reason</option>
            <option value="patient_unavailable">Patient Unavailable</option>
            <option value="patient_refused">Patient Refused</option>
            <option value="transport_issue">Transport Issue</option>
            <option value="site_error">Site Error</option>
            <option value="medical_reason">Medical Reason</option>
            <option value="changed_location">Changed Location</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Comment (optional)</label>
        <textarea name="comment" class="form-control"></textarea>
    </div>

    <button class="btn btn-dark">Confirm Missed</button>

</form>

{% endblock %}